<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Book</title>
</head>
<body>
<h1>Add New Book</h1>
<form action="#" th:action="@{/books/add}" th:object="${book}" method="post">
    <label>Title: <input type="text" th:field="*{title}"/></label><br/>
    <label>Description: <input type="text" th:field="*{description}"/></label><br/>
    <label>Year: <input type="number" th:field="*{year}"/></label><br/>
    <label>Author: <input type="text" th:field="*{author}"/></label><br/>
    <input type="submit" value="Add"/>
</form>
</body>
</html>
